html {
	position: relative;
	min-height: 100%;
}

body {
	background: #e9e9e9;
	color: #666666;
	font-family: 'RobotoDraft', 'Roboto', sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-bottom: 80px;
}

/* Pen Title */
.pen-title {
	padding: 50px 0;
	text-align: center;
	letter-spacing: 2px;
}

.pen-title h1 {
	margin: 0 0 20px;
	font-size: 48px;
	font-weight: 300;
}

.pen-title span {
	font-size: 12px;
}

.pen-title span .fa {
	color: #33b5e5;
}

.pen-title span a {
	color: #33b5e5;
	font-weight: 600;
	text-decoration: none;
}

/* Form Module */
.form-module {
	position: relative;
	background: #ffffff;
	/* max-width: 320px; */
	width: 100%;
	border-top: 5px solid #a6181b;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.48);
	margin: 0 auto;
}

.form-module .toggle {
	cursor: pointer;
	position: absolute;
	top: -0;
	right: -0;
	background: #33b5e5;
	width: 30px;
	height: 30px;
	margin: -5px 0 0;
	color: #ffffff;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}

.form-module .toggle .tooltip {
	position: absolute;
	top: 5px;
	right: -65px;
	display: block;
	background: rgba(0, 0, 0, 0.6);
	width: auto;
	padding: 5px;
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
}

.form-module .toggle .tooltip:before {
	content: '';
	position: absolute;
	top: 5px;
	left: -5px;
	display: block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid rgba(0, 0, 0, 0.6);
}

.form-module .form {
	padding: 55px;
}

.form-module .form:nth-child (2) {
	display: block;
}

.form-module h2 {
	margin: 0 0 20px;
	color: #333;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
}

.form-module input {
	outline: none;
	display: block;
	width: 100%;
	border: 1px solid #d9d9d9;
	margin: 0 0 20px;
	padding: 5px 10px;
	box-sizing: border-box;
	font-wieght: 400;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.form-module input:focus {
	border: 1px solid #a6181b;
	color: #333333;
}

.form-module button {
	background: #2c3e50;
	border: 0;
	padding: 3px 15px;
	color: #ffffff;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	cursor: pointer;
}

.form-module button:hover {
	background: rgba(166, 24, 27, 0.53);
}

.form-module .cta {
	background: #f2f2f2;
	width: 100%;
	padding: 15px 40px;
	box-sizing: border-box;
	color: #666666;
	font-size: 12px;
	text-align: center;
}

.form-module .cta a {
	color: #333333;
	text-decoration: none;
}

a.header-logo {
	display: block;
	width: 392px;
	height: 84px;
	background: url(../../images/FIRS-Logo.png) no-repeat 0;
	background-size: 80%;
}

.page-header h1 {
	font-size: 36px !important;
	font-weight: bold;
	margin-top: 4px !important;
	line-height: 60px;
}

@media ( max-width : 768px) {
	.page-header h1 {
		font-size: 18px !important;
		line-height: 20px;
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #e7e7e7;
}

/* layout.css Style */
.upload-drop-zone {
	height: 200px;
	border-width: 2px;
	margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	line-height: 200px;
	text-align: center
}

.upload-drop-zone.drop {
	color: #222;
	border-color: #222;
}

.file-well,.file-wellInd {
	background-color: #fff;
	position: relative;
	border: 2px dashed #DED9D9;
	width: 100%;
	height: 300px;
}

.uploadBtns button {
	cursor: pointer;
	background: #4caf50;
	border: 0;
	padding: 10px 15px;
	color: #ffffff;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	border-radius: 0px;
	height: 37px;
}

.custom-preloader {
	width: 30px;
	height: 30px;
	margin: 0px 5px;
	background-size: cover;
	display: inline-block;
	background-image: url('../../images/icons/loader.gif');
}

.file-well input,.file-wellInd input {
	opacity: 0.01;
}

.file-well input {
	position: absolute;
	top: 0px;
	left: 0px;
}

.file-well,.file-well input,.file-wellInd,.file-wellInd input {
	width: 100%;
	height: 300px;
}
.thumbnail {
    cursor: pointer;
}
.custom-tile{
	font-size: 100px!important;
    padding: 20px 20px 20px 20px;
    /* border: 1px solid; */
    margin: 20px 20px 20px 20px;
    background-color: rgba(92, 184, 92, 0.76);
    box-shadow: 10px 10px 8px #888888;
}
.custom-label{
	font-size: 11px!important;
    border-radius: 0px!important;
    background-color: rgb(255, 255, 255)!important;
    color: #2c3e50!important;
    border: 1px solid!important;
    font-family: sans-serif!important;
}