@CHARSET "ISO-8859-1";

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
    font-size: 12px;
}

.list-group-item span{
	font-size: 12px;
	font-weight:bold;
	color:#171f23
}

.custom_row{
	margin-bottom:15px;
}
.custom_input{
	border-radius:0px;
	border:1px solid #c0c0c0;
}
.custom_label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight:100 ;
    vertical-align: -webkit-baseline-middle;
}
.error {
    position: absolute;
    top: 29px;
    left: 15px;
    font-size: 11px;
    color: #a94442;
    font-style:italic;
}
.form-control-error{
    border: 1px solid #a94442!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 102, 0.2)!important;
}
.custom_btn {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #2c3e50;
    border-radius: 0px;
    background-color: #2c3e50;
    color: #fff;
}
.custom_btn a{
	color:#fff;
}
.custom_btn:hover,.custom_btn:focus,.custom_btn:active{
	background-color:#34495e;
	color:#fff;
	border-color:#34495e;
}

.custom_btn:disabled{
	background-color:#7f8c8d;
	color:#fff;
	border:#7f8c8d;
}
.custom_btn:disabled:hover{
	background-color:#bdc3c7;
	color:#fff;
	border:#bdc3c7;
}
.custom_navbar {
    background-color: #2c3e50;
    border-radius:0px; 
    /* 
    border-color: #595a5d;
    */
    border:none;
}
.search_result{
	border:none;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a ,.navbar-default .navbar-nav>li>a{
	color:white;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
	color:white;
}

.custom_btn_home {
    display: inline-block;
    padding: 30px 70px;
    text-align: center;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 0px;
    background-color: #b2b3b5;
}
.nav>li:hover{
	background-color: #ab0000;
	color:white;
}
.custom_active{
	background-color: #ab0000;
}
.custom_icon{
	 border-radius: 70px;
	 height:110px;
	 width:110px;
} 
.custom_icontext{
	text-decoration: none;
    color: black;
}
.custom_icontext:hover{
	text-decoration: none;
    
}
a:link {
    text-decoration: none;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 98%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}
.custom_panel{
	border-radius:0px;
}

.loader-container{
	position:relative;
	margin:5px 0px;
}
.inline-loader{
    line-height: 30px;
    margin-left: -30px;	
    float:left;
}

/*Input with buttons -  Application form*/
.input-with-btn{
	width: calc(100% - 90px);
	float:left;
}
.input-addon-btn{
	float:left;
	width: 90px;
	height:30px;
	outline:0;
}
.input-with-btn-container{
	position:relative;
}
.input-with-btn-container input{
	padding-left:40px;
}
.input-with-btn-container button.btn{
	position:absolute;
	width:30px;
	height:30px;
	left:0px;
	top:0px;
	padding:5px;
	background-color:#2c3e50;
	border-radius:0px;
}
.input-with-btn-container button.btn .glyphicon{
	color:#fff !important;
}
.jumbotron.custom-jumbotron{
	font-size:16px;
	padding:10px 20px;
	background-color:#fefefe;
	border:1px solid #ededed;
	border-radius:0px;
}
.jumbotron.custom-jumbotron p{
	margin-bottom:5px;
}
.jumbotron.custom-jumbotron label{
	font-size:14px;
}
.margin-right-small{
	margin-right:5px;
}
.table-custom-tcc input{
	text-align:right;
}
.table-custom-tcc td:nth-child(n+1){
	text-align:right;
}
/*Modifying modal styling*/
button[class*="remodal-"]{
	padding-left:12px;
	padding-right:12px;
	margin-bottom:5px;
}
.modal-open .modal{
	z-index: 9999 !important;
}
.text-info-custom{
	font-family: serif;
    font-size: 13px;
    color: #907341;
}
.custom-row-margin{
	margin-top: 10px;
}
.preview-lable{
	font-size: 13px;
    font-weight: 600;
    font-family: sans-serif;
}
.custom-loader{
	position:absolute;
	width:25px;
	height:25px;
	margin:0px 5px;
	background-size:cover;
	display:inline-block;
	background-image: url("../../images/CUBE-loading.gif");
	
}
.loader-section p{
	font-size: 20px;
	font-family: serif;
}
.my-span:before{
	content: "";
}
.profile_button{
	height:23px;
}

.growl{
	opacity: 1;
}

.growl-warning>.growl-title:before {
    content: "\f071 ";
    font-family: FontAwesome;
}
.growl-error>.growl-title:before {
    content: "\f00d  ";
    font-family: FontAwesome;
}
.growl-default>.growl-title:before {
    content: "\f06a  ";
    font-family: FontAwesome;
}
.growl-notice>.growl-title:before {
    content: "\f058  ";
    font-family: FontAwesome;
}
.custom-text{
	font-size: 15px;
	font-family:sans-serif;
	font-stretch: expanded;
}

.pull-right-md{
	float:none;
}
@media only screen and (min-width:768px){
	.pull-right-md{
		float:right;
	}
}
button:focus {outline:0 !important;}

.custom-error-input{
	border: 1px solid #d2302c;
}

.custom-textarea{
	width: 100%;
}